@model Moviesily.ViewModels.HomeVM

<div class="row">
    <br /><br />
</div>

<div class="row">
    <div class="col-lg-2">

        @foreach (var item in Model.Genres)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.GenreName, "Index", "Reviews", null, new { @class = "btn btn-default btn-large btn-block" }) <br />
                </td>
            </tr>

        }
    </div>

    
</div>
